/.vscode
/Exam 1.pdf
/HW1-DylanV.pdf
/HW2-DylanV.pdf
/HW3-DylanV.pdf
/HW4-DylanV.pdf
/HW5-DylanV.pdf
/HW6-DylanV.aux
/HW6-DylanV.fdb_latexmk
/HW6-DylanV.fls
/HW6-DylanV.log
/HW6-DylanV.pdf
/HW6-DylanV.synctex.gz
/HW6-DylanV.xdv
/Iain G. Main - Vibrations and Waves in Physics (1993, Cambridge University Press) - libgen.lc.pdf
/Lecture Notes and Slides
/Notes.pdf
/Notes.tex
/Zoom.url